.deeplink-widget {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.deeplink-widget .error {
  font-weight: 700;
  color: #ff0000;
}

.deeplink-widget .deeplink-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
