.link-button {
  font-family: inherit;
  font-weight: 300;
  color: #007bff;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5;
  padding: .375rem .75rem;
  cursor: pointer;
  border: none;
}

.link-button:focus {
  outline: none;
}
