.qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.qr-code .help {
  margin-bottom: 6px;
}

.qr-code .help-item {
  text-align: left;
  font-size: 12px;
}

.qrcode-img-wrapper {
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code .bold {
  font-weight: 700;
}

.qr-code .light {
  font-weight: 300;
}

.qr-code .btn.focus, .btn:focus {
  box-shadow: none;
}

.qr-code .image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code .qr-code-img {
  width: 220px;
}

@media screen and (max-width: 600px) {
  .qrcode-content {
    flex-direction: column;
    align-items: center;
  }

  .description {
    margin-left: 0;
    margin-top: 24px;
  }
}
