.sms-content {
  align-items: center;
  justify-content: center;
  padding: 40px;
  flex-direction: column;
  display: flex;
}

.sms-content .bold {
  font-weight: 700;
}

.sms-content .error {
  font-weight: 700;
  color: #ff0000;
}
