.content-box {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  .single-widget {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }
}

@media screen and (max-width: 530px) {
  .content-box {
    width: unset;
  }
}
