.single-widget {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.content-box {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #dddddd;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.08), 0 3px 2px 0 rgba(0,0,0,.05);
  min-height: 256px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  border-radius: .25rem;
  background-clip: border-box;
}

@media screen and (max-width: 600px) {
  .single-widget {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }
}

@media screen and (max-width: 530px) {
  .content-box {
    width: unset;
  }
}
